<div class="container">
  <h1>Card Manager</h1>

  <h2>Current Cards in Deck:</h2>
    <table>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
      <tr>
        <% @cards.each do |card| %>
          <td><%= card.question %></td>
          <td><%= card.answer %></td>
        <% end %>
      </tr>
    </table>

  <form method="post" action="/card_manager">
    <input type="text" name="question">
    <input type="text" name="answer">
    <input type="submit" value="Add Card to Deck!">
  </form>

</div>
