<h1>Card Manager</h1>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
    <tr>
      <td><%= card.question %></td>
      <td><%= card.answer %></td>
    </tr>
    <% end %>
  </tbody>
</table>
    <tr></tr>
  </table>

  <h2>Create Deck</h2>
  <form method="post" action="/card_manager/<%= @deck.id %>" role="form">
  <div class="form-group">
    <label for="exampleInputCardQuestion1">Card Question</label>
    <input type="text" class="form-control" id="exampleInputCardQuestion1" name="question" placeholder="Enter Card Question">
  </div>
  <div class="form-group">
    <label for="exampleInputCardAnswer1">Card Answer</label>
    <input type="text" class="form-control" id="exampleInputCardAnswer1" name="answer" placeholder="Enter Card Answer">
  </div>
    <button type="submit" class="btn btn-default" >Add Card to Deck!</button>
  </form>