
<h3> <%= "#{@user['username']}'s Dashboard" %> </h3>

<ul>
	<% @decks.each do |deck| %>
		<li><a href="#"><%=deck.title%></a></li>
	<% end %>
</ul>


<a class="btn btn-default btn-sm" href="/deck_manager" role="button">Manage Decks</a>
<a class="btn btn-link" href="/logout" role="button">Logout</a>
