<h1>Deck Manager</h1>

  <table class="table table-hover">
  <thead>
    <tr>
      <th>Your Created Decks</th>
    </tr>
  </thead>
  <tbody>
    <% @decks.each do |deck| %>
    <tr>
      <td><a href="/card_manager/<%=deck.id%>"><%=deck.title%></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
    <tr></tr>
  </table>

  <h2>Create Deck</h2>
  <form method="post" action="/deck_manager" role="form">
  <div class="form-group">
    <label for="exampleInputDeckTitle1">Deck Title</label>
    <input type="text" class="form-control" id="exampleInputDeckTitle1" name="title" placeholder="Enter Deck Title">
  </div>
    <button type="submit" class="btn btn-default" >Create Deck!</button>
  </form>