<h1>Deck Manager</h1>

  <h2>Edit My Decks</h2>
  <ul>
    <% @decks.each do |deck| %>
    <li><a href="/card_manager/<%=deck.id%>"><%=deck.title%></a></li>
    <% end %>
  </ul>


  <h2>Create Deck</h2>
  <form method="post" action="/deck_manager">
    <input type="text" name="title">
    <input type="submit" value="Create Deck!">
  </form>


  <a href='/'>Dashboard</a>
