<h1>Results</h1>

<p>Hooray! You just finished a round of the '<%= @deck.title %>' flashcards!</p>

<p>Here's how you did...</p>

<p>You played: <%= @cards_played %> cards.</p>
<p>You answered <%= @cards_correct %> cards correctly, for a score of <%= @percent_correct %>%.</p>
